<h3>Login</h3>
<form {{action login content on="submit"}} class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
    <div class="control-group">
      <p>{{view Ember.TextField valueBinding='rememberedEmail' name='email' id='email-field' class='form-control'}}</p>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
    <div class="control-group">
      <p>{{view Ember.TextField type="password" valueBinding='password' id='password-field' class='form-control'}}</p>
    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox unchecked">
        <label>
          {{view Ember.Checkbox checkedBinding="rememberMe"}}
          Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <p class="error">{{ errorMsg }}</p>
    <div class="col-sm-offset-2 col-sm-10">
      <button  type="submit" id="login-button" class="btn btn-primary" value="Login">Login</button>
      <a href='#' {{action cancel}} class='btn btn-transparent'>Cancel</a>
    </div>
  </div>
</form>