<div class="clearfix project-info-container">
  <h1 class="pull-left"> {{title}} </h1>  
  {{#if showingProjectDescript}}
    <div> Sample Project Descript <a {{action hideProjectDescript}}>x</a> </div> 
  {{else}}
    <a {{action showProjectDescript}}> Project description </a>
  {{/if}}
</div>
<div class="progress">
  {{render "progressBarSection" auth.currentUser}}
  {{render "groupMemberProgressBars" groupMembers}}
</div>

