<div class="clearfix project-info-container">
  <h3 class="pull-left"> {{title}} </h3>  
  {{#if showingProjectDescript}}
    <div> Sample Project Descript <a {{action hideProjectDescript}}>x</a> </div> 
  {{else}}
    <a {{action showProjectDescript}}> Project Description </a>
  {{/if}}
</div>
<div class="progress">
  <div class="progress-bar" {{bind-attr style="progressBarSize"}}></div>
</div>

