<div class="form-group col-lg-10">
  {{view Ember.TextField valueBinding="title" placeholder="Title" required="true" class="form-control"}}
</div>
<div class="form-group col-lg-10">
  <label for="subtask-due-date" class="col-lg-2 control-label">Due Date:</label>
  <div id="new-task-date" class="datepicker input-append date col-lg-2" data-date-format="mm/dd/yyyy"> 
    {{view Ember.TextField valueBinding="date" class="form-control" size="40"}}
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <label for="subtask-users" class="col-lg-3 control-label">Assigned to:</label>
  {{!-- Need to show which users are select here. --}}
  <a {{action toggleUserSelect}} {{bind-attr class="isShowingUsers:hide"}}>Select</a>
  {{#if isShowingUsers}}
  <div class="select-users-container">
    <ul id="select-users-list">
      {{#each student in controllers.requiredTasks.selectableStudents}}
        {{view view.userCheckbox studentBinding="student" class="user-select-checkbox"}}
        {{student.fullName}}
      {{/each}}
    </ul>
  </div>
  {{/if}}
</div>