{{#if isShowingComments}}
  <div class="comments-container">
    <div class="comment-actions">
      <a href="#" {{action closeComments}}><span class="glyphicon glyphicon-comment"></span> Hide comments </a>
    </div>
    {{#each comment in content}}
      {{render "comment" comment}}
    {{/each}}
    {{render "newComment"}}
  </div>
{{else}}
  {{#if hasComments}}
    <a href="#" {{action openComments}}><span class="glyphicon glyphicon-comment"></span> {{commentsCount}} </a>
  {{else}}
    <a href="#" {{action openComments}}><span class="glyphicon glyphicon-comment"></span> Add comment </a>
  {{/if}}
{{/if}}