{{#if isShowingComments}}
  <div>
    <hr>
    {{#if isShowingAllComments}}
      {{#each comment in content}}
        {{render "comment" comment}}
      {{/each}}
    {{else}}
      {{#if remainingCommentsCount}}
        <div {{action "openAllComments" bubbles=false}}>
          <span class="glyphicon glyphicon-comment"></span> 
          View {{remainingCommentsCount}} </a>
        </div>
      {{/if}}
      {{#each comment in mostRecentComments}}
        {{render "comment" comment}}
      {{/each}}
    {{/if}}
    {{render "newComment" newComment}}
  </div>
{{else}}
  {{#if hasComments}}
    <a href="#" {{action "openAllComments" bubbles=false}}>
      <span class="glyphicon glyphicon-comment"></span>
      {{commentsCount}}
    </a>
  {{else}}
    <a href="#" {{action "openAllComments" bubbles=false}}>
      <span class="glyphicon glyphicon-comment"></span>
      Add comment
    </a>
  {{/if}}
{{/if}}