<div {{bind-attr class=":comment isDisputed:disputed"}}>
  <div class="comment-header clearfix">
    <h4 class="pull-left"> {{user.fullName}} </h4>
    <div class="comment-date">{{readableCreateAtDate}}</div>
    {{#if showingDelete}}
      <a class="comment-delete pull-right" {{action deleteComment}}>Delete</a>
    {{/if}}
  </div>
  <p {{bind-attr class="isDisputed:disputed"}}> {{body}} </p>
</div>