<p><h2>{{title}} ({{code}})</h2></p>
<ul class="nav nav-tabs nav-justified">
  <li>Project:
    {{view Ember.Select
           content=projects
           optionValuePath="content"
           optionLabelPath="content.title"
           selection=selectedProject}}
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li><span class="glyphicon glyphicon-pencil"></span>  Edit Project</li>
  <li><span class="glyphicon glyphicon-folder-open"></span>  Project Folder</li>
  <li><span class="glyphicon glyphicon-envelope"></span>  Email Class</li>
</ul>

{{#with selectedProjectVal}}
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Group Name</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {{title}}
      {{#each projectGroup in projectGroups}}
        {{render "facultyProjectGroup" projectGroup}}
      {{/each}}
    </tbody>
  </table>
{{/with}}