  <h2>{{title}} ({{code}})</h2>
  {{render "facultyCourseList" facultyCourses}}
  <ul class="nav nav-tabs nav-justified">
      <li>Project:
        <!--<div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              {{#each project in projects}}
                <li><a href="#">{{project.title}}</a></li>
              {{/each}}
            </ul>
          </div>-->
          <select>
            {{#each project in projects}}
                <option><a href="#">{{project.title}}</a></li>
              {{/each}}
          </select>
            <!-- Placeholder for Google Drive -->
        </li>
        <li>Edit Project</li>
        <li>Project Folder</li>
        <li>Email Class</li>
      
    </ul>
      {{render "facultyProject" selectedProject}}