<ul class="nav nav-pills nav-justified">
  <li class="active"><a>{{title}}</a></li>
  {{#each course in nonActiveCourses}}
    <li>{{#link-to 'course' course}} {{course.title}} {{/link-to}}</a></li>
  {{/each}} 
</ul>
<h2>{{title}} ({{code}})</h2>
<ul class="nav nav-tabs nav-justified">
  <li>Project:
    {{view Ember.Select
           content=projects
           optionValuePath="content.id"
           optionLabelPath="content.title"
           selection=selectedProject}}
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li>Edit Project</li>
  <li>Project Folder</li>
  <li>Email Class</li>
</ul>
{{render "facultyProject" selectedProject}}