<form role="form" class="form-horizontal edit-subtask-container">
  {{partial "subtaskPartial"}}
  <div class="col-lg-10">
    <button {{action saveSubtask}} 
            type="button" 
            {{bind-attr class="userCanSave::disabled :btn :btn-primary"}}>Save</button>
    <button {{action cancelEdit}} type="button" class="btn btn-default">Cancel</button>
    <button {{action deleteSubtask}} type="button" class="btn btn-default pull-right">Delete</button>
  </div>
</form>