<div {{bind-attr class="isHoveringMember:showing-group-member-info :group-member-info-container"}}>
  <div class="member-info-name">
    <h3> {{fullName}} </h3>
  </div>
  {{#if isCurrentUser}}
    <div class="edit-account-pencil">
      <i class="fa fa-pencil-square-o fa-fw" {{action editAccount}}></i>
    </div>
  {{/if}}
  <div class="member-info-email">
    <i class="fa fa-envelope-o fa-fw"></i>
    <span><a {{bind-attr href="emailHref"}} target="_blank">{{email}}</a></span>
  </div>
  <div class="member-info-phone">
    <i class="fa fa-mobile fa-fw"></i>
    <span>{{phone}}</span>
  </div>
  <div class="member-info-online-status">
    {{#if isCurrentUser}}
      Online
    {{else}}
      {{#if lastLogin}}
        Last login: {{readableLastLogin}}
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="group-member-container">
  <div>
    {{fullName}}
    {{#if isCurrentUser}}
      <span id="me-current-user">(Me)</span>
    {{/if}}
  </div>
  <div class="progress">
    <p class="task-count"> {{completedSubtasks}} / {{subtasks.length}} tasks </p>
    <div {{bind-attr class="progressBarClass :group-member-progress :progress-bar"}}
         {{bind-attr style="progressBarStyle"}}></div>
  </div>
</div>
