<div>{{fullName}}
{{#if isCurrentUser}}
  <span id="me-current-user">(Me)</span>
{{/if}}
</div>
<div class="progress">
  <p class="task-count"> {{completedSubtasks}} / {{subtasks.length}} tasks </p>
	<div {{bind-attr class="progressBarClass :group-member-progress :progress-bar"}} 
       {{bind-attr style="progressBarStyle"}}></div>
</div>