<div class="group-member-container">
  <div class="group-member-name">
    {{fullName}}
    {{#if isCurrentUser}}
    <span id="me-current-user">(Me)</span>
    {{/if}}
    {{#if isShowingGroupMemberInfo}}
      <i class="fa fa-info-circle group-member-info-icon active" {{action hideGroupMemberInfo}}></i>
    {{else}}
      <i class="fa fa-info-circle group-member-info-icon inactive" {{action showGroupMemberInfo}}></i>
    {{/if}}
  </div>
  <div {{bind-attr class="isShowingGroupMemberInfo:showing-group-member-info :group-member-info-container"}}>
    <div class="member-info-email">
      <i class="fa fa-envelope-o fa-fw"></i>
      <span><a {{bind-attr href="emailHref"}} target="_blank">{{email}}</a></span>
    </div>
    <div class="member-info-phone">
      <i class="fa fa-mobile fa-fw"></i>
      <span>{{phone}}</span>
    </div>
    <div class="member-info-online-status">
      {{#if isCurrentUser}}
        Online
      {{else}}
        {{#if lastLogin}}
          Last login: {{readableLastLogin}}
        {{else}}
          User hasn't logged in yet
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="progress">
    <p class="task-count"> {{completedSubtasks}} / {{currentSubtasks.length}} tasks </p>
    <div {{bind-attr class="progressBarClass :group-member-progress :progress-bar"}}
         {{bind-attr style="progressBarStyle"}}></div>
  </div>
</div>
