<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="brand">
        {{#link-to 'home' }} <img src="/assets/logo.png"> {{/link-to}}
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-text">
      {{#if isAuthenticated}}
        {{#if currentUser.isTeacher}}
          <li class="dropdown" id="project-nav-container">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{currentUser.mostRecentSemester}} 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#each semester in uniqueSemesters}}
                <li>
                  <a>{{semester}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{else}}
          <li class="dropdown" id="project-nav-container">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Projects <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#each project in projects}}
                {{project-nav-item project=project name=project.title}}
              {{/each}}
            </ul>
          </li>
        {{/if}}
        <li class="dropdown" id="user-nav-container">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{currentUser.fullName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <h5>
                <a href="#" {{action editAccount}} id="account-button">
                  <i class="fa fa-pencil-square-o fa-fw"></i>
                  Account
                </a>
              </h5>
            </li>
            <li>
              <h5>
                <a href="#" {{action logout}} id="logout-button">
                  <i class="fa fa-power-off fa-fw"></i>
                  Log Out
                </a>
              </h5>
            </li>
          </ul>
      </li>
      {{else}}
        {{#unless onSignupRoute}}
          <li>{{#link-to 'registration' }} Sign Up {{/link-to}}</li>
        {{/unless}}
      {{/if}}
    </ul>
  </div>
</nav>

{{#if isAuthenticated}}
  {{render "editAccountModal"}}
{{/if}}