<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
  <div class="container">
    <div class="navbar-brand">
        {{#link-to 'home' }} <i class="fa fa-users"></i> WeTeam {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-right navbar-text">
      {{#if isAuthenticated}}
        {{#if currentUser.isTeacher}}
          <li class="dropdown" id="project-nav-container">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Semester <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#each semester in uniqueSemesters}}
                <li>
                  {{semester}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{else}}
          <li class="dropdown" id="project-nav-container">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Projects <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#each project in projects}}
                <li class="project-nav-item">
                  {{#link-to 'project' project}}
                    {{project.title}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        <li class="dropdown" id="user-nav-container">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{currentUser.fullName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action editAccount}} id="account-button">
                <i class="fa fa-pencil-square-o fa-fw"></i>
                Account
              </a>
            </li>
            <li>
              <a href="#" {{action logout}} id="logout-button">
                <i class="fa fa-power-off fa-fw"></i>
                Log Out
              </a>
            </li>
          </ul>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

{{#if isAuthenticated}}
  {{render "editAccountModal"}}
{{/if}}
