<li class="news-item clearfix" {{action "open"}}>
<<<<<<< HEAD
  <p class="news-item-descript newsfeed">{{description}}</p>
  <p class="news-item-time-ago newsfeed-time">{{timeAgo}}</p>
=======
  <newsfeed class="newsfeed news-item">{{description}}</newsfeed>
  <newsfeed-time class="newsfeed-time news-item-time-ago">{{timeAgo}}</newsfeed-time>
  <hr>
>>>>>>> a56374a25c51b6f8f8161e7ac420609c44c457f7
</li>
<hr>

