<li class="news-item clearfix" {{action "open"}}>
  <p class="news-item-descript newsfeed">{{description}}</p>
  <p class="news-item-time-ago newsfeed-time">{{timeAgo}}</p>
  <newsfeed class="newsfeed news-item">{{description}}</newsfeed>
  <newsfeed-time class="newsfeed-time news-item-time-ago">{{timeAgo}}</newsfeed-time>
  <hr>
  <newsfeed class="newsfeed news-item">{{description}}</newsfeed>
  <newsfeed-time class="newsfeed-time news-item-time-ago">{{timeAgo}}</newsfeed-time>
  <hr>
</li>
<hr>

