<div class="col-md-9">
  <div class="btn-group task-filter-buttons">
    <button {{action showAllTasks}} type="button" {{bind-attr class=":btn :btn-default showingAllTasks:active"}}>All Tasks</button>
    <button {{action showUserTasks}} type="button" {{bind-attr class=":btn :btn-default showingAllTasks::active"}}>My Tasks</button>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#if showingAllTasks}}
        {{partial "projectInfo"}}
      {{else}}
        {{render "currentUser" auth.currentUser}}
      {{/if}}
    </div>
    <div class="panel-body">
      {{render "requiredTasks" filteredRequiredTasks}}
    </div>
  </div>
</div>
<div class="col-md-3">
  {{render "groupMembers" groupMembers}}
</div>