<div class="col-md-9">
  {{partial "projectInfo"}}
  <div class="btn-group task-filter-buttons">
    <button {{action showAllTasks}} type="button" {{bind-attr class=":btn :btn-default showingAllTasks:active"}}>All tasks</button>
    <button {{action showUserTasks}} type="button" {{bind-attr class=":btn :btn-default showingAllTasks::active"}}>My tasks</button>
  </div>
  {{render "requiredTasks" filteredRequiredTasks}}
</div>
<div class="group-container col-md-3">
  {{render "groupMembers" groupMembers}}
</div>
<div class="news-container col-md-3">
  {{render "newsFeed" projectGroup.historyTrackers}}
</div>