<h2> {{title}} </h2>
{{#if shouldShowCompletedLink}}
  <a {{action showCompleted}}>Completed Subtasks</a>
{{/if}}
{{#if showingCompleted}}
  <a {{action hideCompleted}}>Hide completed Subtasks</a>
{{/if}}
<ul>
  {{#if showingCompleted}}
    {{#each task in completedSubtasks}}
      {{render "subtask" task}}
    {{/each}}
  {{/if}}
  {{#each task in uncompletedSubtasks}}
    {{render "subtask" task}}
  {{/each}}
</ul>
{{#if addingNewTask}}
  {{render "newTask"}}
{{/if}}
<a {{bind-attr class="addingNewTask:hide"}} {{action showNewTask}}> Add task </a>