<h3> {{title}} </h3>
{{#if shouldShowCompletedLink}}
  <a {{action showCompleted}}>View Completed Tasks</a>
{{/if}}
{{#if showingCompleted}}
  <a {{action hideCompleted}}>Hide Completed Tasks</a>
{{/if}}
<ul>
  {{#if showingCompleted}}
    {{#each task in completedSubtasks}}
      {{render "subtask" task}}
    {{/each}}
  {{/if}}
  {{#each task in uncompletedSubtasks}}
    {{render "subtask" task}}
  {{/each}}
</ul>
{{#if addingNewTask}}
  {{render "newTask"}}
{{/if}}
<a {{bind-attr class="addingNewTask:hide"}} {{action showNewTask}}><span class="glyphicon glyphicon-plus"></span> Add Task </a>
<hr>