<h2> {{title}} </h2>
<ul>
  {{#each task in subtasks}}
    {{render "subtask" task}}
  {{/each}}
</ul>
{{#if isAddingNewTask}}
  {{render "newTask"}}
{{/if}}
<a {{bind-attr class="isAddingNewTask:hide"}} {{action showNewTask}}> Add task </a>