<h3> {{title}} </h3>
<ul>
  {{#each task in uncompletedSubtasks}}
    {{render "subtask" task}}
  {{/each}}
  {{#if showingCompleted}}
    {{#each task in completedSubtasks}}
      {{render "subtask" task}}
    {{/each}}
  {{/if}}
</ul>

{{#if addingNewTask}}
  {{render "newTask"}}
{{/if}}
<a {{bind-attr class="addingNewTask:hide :add-subtask-link :col-lg-3"}} {{action showNewTask}}><span class="glyphicon glyphicon-plus"></span> Add task</a>

<div class="completed-container col-lg-9">
  {{#if shouldShowCompletedLink}}
    <a {{action showCompleted}}><span class="completed-action">View completed tasks</span></a>
  {{/if}}
  {{#if showingCompleted}}
    <a {{action hideCompleted}}><span class="completed-action">Hide completed tasks</span></a>
  {{/if}}
</div>
<hr>