<h2> {{title}} </h2>
<ul>
  {{#each subtask in subtasks}}
    <li> {{subtask.title}} </li>
  {{/each}}
</ul>
{{#if isAddingNewTask}}
  {{render newTask}}
{{/if}}
<a {{bind-attr class="isAddingNewTask:hide"}} {{action showNewTask}}> Add task </a>