<li {{action "toggleViewing" preventDefault=false}}
    {{bind-attr class=":subtask-container :clearfix :row isDisputed:disputed isCompleted:completed isEditing:editing"}}>
  {{#if isHovering}}
    <div class="subtask-edit-pencil">
      <i class="fa fa-pencil-square-o fa-fw"></i>
    </div>
  {{/if}}

  {{#if isEditing}}
    {{render "editSubtask" model parentBinding="this"}}
  {{else}}
    <div class="row col-md-12">
      <div class="title-container col-md-10">
        {{view Ember.Checkbox checkedBinding="isCompleted" class="completed-checkbox"}}
        <h4 {{bind-attr class=":subtask-title :center-text isDisputed:disputed"}}>
          {{title}}
        </h4>
      </div>
      <div class="date-container">
        <p {{bind-attr class="isDueSoonish:due-soon :center-block"}}>{{readableDate}}</p>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="assigned-to-members col-md-12">
        Assigned to:
        {{#each student in students}}
          <span class="assigned-to-member">{{student.fullName}}</span>
        {{/each}}
      </div>
    </div>
    {{#if isViewing}}
      <div class="viewing-info row col-md-12">
        {{#if description}}
          <h5>Description: </h5>
          <p>{{description}}</p>
        {{else}}
          <a class="add-description-action" {{action "startEditing" preventDefault=false bubbles=false}}>
            Add Description
          </a>
        {{/if}}
        <a class="edit-action pull-right" {{action "startEditing" preventDefault=false bubbles=false}}>
          <i class="fa fa-pencil-square-o fa-fw"></i>
          Edit
        </a>
      </div>
    {{/if}}

    {{#if showingDispute}}
      <a class="dispute" {{action disputeSubtask}}>
        <i class="fa fa-ban fa-fw"></i>
        Dispute
      </a>
    {{/if}}
  {{/if}}
</li>

<div class="row comments-container">
  {{render "comments" comments}}
</div>

{{view Sis.DisputeModal}}