<li 
  {{action "editTask" on="click" preventDefault=false}}
  {{bind-attr class=":subtask-container :clearfix isDisputed:disputed isCompleted:completed isEditing:editing"}}>
  {{#if isEditing}}
    {{render "editSubtask" model parentBinding="this"}}
  {{else}}
    <div class="title-container col-md-11">
      {{view Ember.Checkbox checkedBinding="isCompleted" class="completed-checkbox"}}
      <h4 {{bind-attr class=":subtask-title :center-text isDisputed:disputed"}}>
        {{title}}
      </h4>
    </div>
    <div class="date-container">
      <p {{bind-attr class="isDueSoonish:due-soon :center-block"}}>{{readableDate}}</p>
    </div>
    {{#if showingDispute}}
      <a class="dispute" {{action disputeSubtask}}><i class="fa fa-ban fa-fw"></i> Dispute</a>
    {{/if}}

  <div class="row comments-container">
  {{render "comments" comments}}
  </div>
  {{/if}}

</li>

{{view Sis.DisputeModal}}