<li {{bind-attr class=":subtask-container :clearfix :row isDisputed:disputed isCompleted:completed isEditing:editing"}}>
  {{#if isEditing}}
    {{render "editSubtask" model parentBinding="this"}}
  {{else}}
    {{#if showingDispute}}
      <span {{action disputeSubtask}} class="dispute-icon glyphicon glyphicon-ban-circle"></span>
    {{/if}}
    <div class="title-container col-md-10">
      {{view Ember.Checkbox checkedBinding="isCompleted" class="completed-checkbox"}}
      <h4 {{action "editTask" on="doubleClick"}} class="subtask-title center-text"> {{title}} </h4>
    </div>
    <div class="date-container col-md-2">
      <p class="center-text">{{readableDate}}</p>
    </div>
  {{/if}}
</li>
<div class="row">
  {{render "comments" comments}}
</div>

{{view Sis.DisputeModal}}