<div class="col-md-8">
  {{render "projectInfo" project}}
  {{#if auth.currentUser.isStudent}}
    <div class="btn-group task-filter-buttons">
      <button {{action showAllTasks}} type="button" 
              {{bind-attr class=":btn :btn-primary :tab showingAllTasks:active"}}>
        All tasks
      </button>
      <button {{action showUserTasks}} type="button" 
              {{bind-attr class=":btn :btn-primary :tab showingAllTasks::active"}}>
        My tasks
      </button>
    </div>
  {{/if}}
  {{render "requiredTasks" filteredRequiredTasks}}
</div>
<div class="col-md-3 sidebar-container">
<div class="group-container">
  {{render "groupMembers" groupMembers}}
</div>
<div class="news-container ">
  {{render "newsFeed" historyTrackers}}
</div>