!!!
%html
  %head
    %title Sisyphus
    / [if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js", type: "text/javascript" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "signet:authors", content: "Matt Gowie"}
    %meta{ name: "signet:links", content: "http://github.com/Gowiem, http://twitter.com/Gowiem, http://gowie.me"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/navigation"
    %main.container 
      - flash.each do |name, msg|
        %div{ class: "alert alert-dismissable alert-#{ name == :notice ? "success" : "info" }" }
          %button{ class: "close", data: { dismiss: "alert" }} x
          = msg

      / Yield brings in the currently rendered view, which in our case will 
      / only be the devise authentication views (sign in, sign up, ect.)
      / Note: Ember will input it's application.handlebars template outside 
      / of this container directly under the body element.
      = yield
